<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title> HOLA</title>
  </head>
  <body>
    <div class="container mt-2">
      <header>
        <h2><%= submissions %></h2>
      </header>
  
    </div>
  </body>
</html>