<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <td class="nav-links">
      <a class="nav-link" href="/" style="padding-left: 0px">
        <span class="page-top">
          <b class="navText">Home Page</b>
        </span>
      </a>
    </td>
    <form class="login">
      <h2>Login</h2>
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="pwd">Password:</label><br />
      <input type="password" id="pwd" name="pwd" /><br />
      <input type="submit" />
      <br />
      <br />
    </form>
    <br /><br /><br />
    <td class="nav-links">
      No estas registrado? Prueba
      <a class="nav-link" href="/signin" style="padding-left: 0px">
        <span class="page-top">
          <b class="navText">Signin</b>
        </span>
      </a>
    </td>
  </body>
</html>
