<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="form">
      <div class="header">
        <a href="/">Home</a>
      </div>
      <h2>Log in</h2>
      <div class="simpleLogin">
        <form action="/login" method="post">
          <input
            type="text"
            id="username"
            name="username"
            required
            class="input"
            placeholder="username"
          />
          <input
            type="text"
            id="password"
            name="password"
            required
            class="input"
            placeholder="password"
          />
          <button>Login</button>
          <% if (typeof errorMessage !== "undefined") { %>
          <br />
          <p><%= errorMessage %></p>
          <% } %>
          <br />
        </form>
      </div>
      <br />
      <a href="/auth/google" class="btn btn-danger"
        ><span class="fa fa-google"></span> SignIn with Google</a
      >
      <br />
      <br />
      <span>
        <label>No estas registrado? Prueba</label>
        <a href="/signup">Sign Up</a>
      </span>
    </div>
  </body>
</html>
