<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <td class="nav-links">
        <a class="nav-link" href="/" style="padding-left: 0px">
          <span class="page-top">
            <b class="navText">Home Page</b>
          </span>
        </a>
      </td>
      <br>
      <br>
      <h2>Sign in</h2>
    </form>
    <br />
    <form action="/signin" method="POST">
      <table class="formTable">
        <tbody>
          <tr style="height: 10px"></tr>
          <td class="label"><label for="username">Username:</label> <br /></td>
          <td>
            <input
              type="text"
              id="username"
              name="username"
              required
              class="input"
            />
          </td>

          <tr>
            <td class="label"><label for="password">Password:</label><br /></td>
            <td>
              <input
                type="text"
                id="password"
                name="password"
                required
                class="input"
              />
            </td>
          </tr>
          <tr style="height: 20px"></tr>
          <tr>
            <td></td>
            <td>
              <button>Create Account</button>
            </td>
          </tr>
          <tr style="height: 30px"></tr>
          <tr>
            <td class="textSeparation"></td>
            <td>
              <% if (typeof errorMessage !== "undefined") { %>
              <p><%= errorMessage %></p>
              <% } %>
            </td>
          </tr>
          <tr class="bottomSpace"></tr>
        </tbody>
      </table>
    </form>
  </body>
</html>
