<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Submit</title>
      </head>

<body>


  <div class="create-blog content">
    <li class="nav-item">
        <a class="nav-link" href="/">Index<span class="sr-only">(current)</span></a>
      </li>
    <form action="/create" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
      <label for="url">URL:</label>
      <input type="text" id="url" name="url" required>
      <button>Submit</button>
    </form>
  </div>

</body>
</html>