<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="/css/submission.css">
        <title>Submit</title>
      </head>

<body>
<table class="hdMain">
    <tbody>
        <tr>
            <td class="tableColor">
                <table class="navFormat">
                    <tbody>
                        <tr>
                            <td class="tdImage">
                              <a class="navbar-brand" href="/">
                                  <img src="/images/y18.jpeg" width="18" height="18" style="border:1px #ffffff solid;padding-right: 0px;">
                              </a>
                            </td>
                            <td class="tdSubmit">
                                <a class="nav-link" href="/submit" style="padding-left: 0px;">
                                    <span class="pagetop">
                                        <b class="navText">Submit</b>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/create" method="POST" >
                    <table style="background-color: #f6f6ef; width: 84%;">
                        <tbody>
                            <tr style="height: 10px"></tr>
                            <tr>
                                <td style="padding-left: 50px"><label for="title">Title:</label></td>
                                <td><input type="text" id="title" name="title" required style="width:40%;"></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 50px"><label for="url">URL:</label></td>
                                <td><input type="text" id="url" name="url" required style="width:40%;"></td>
                            </tr>
                            <tr style="height: 20px"></tr>
                            <tr><td></td><td><button>Submit</button></td></tr>
                            <tr style="height: 30px"></tr>
                            <tr><td style="padding-right: 100px;"></td><td style="color:#828282">Line of text that will be implemented in a future. At the moment it's just an insignificant message</td></tr>
                            <tr style="height: 50px"></tr>
                        </tbody>
                    </table>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>